body {
    background-color: #4a503d;
}

.content {
    width: 70%;
    height: 100%;
    background-color: #8e9775;
    padding: 10px;
    margin-left: 13%;
    margin-top: 20px;
}

.ortaFilmlerinHepsiniKapsayan .ortaFilmlerinHepsiniKapsayan-Kapsayici {
    width: 84%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

#gizle {
    margin-left: 8%;
}

.ortaFilmlerinHepsiniKapsayan .ortaFilmlerinHepsiniKapsayan-Kapsayici .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin: 15px;
    border-radius: .25rem;
    border: 0px solid rgba(0, 0, 0, 0.125);
}

#foto {
    margin-left: 16%;
}

@media screen and (max-width: 1024px) {
    #foto {
        margin-left: 16%;
    }
}

@media screen and (min-width: 300px)and (max-width: 400px) {
    #foto {
        margin-left: 0%;
    }
}

@media screen and (min-width: 200px)and (max-width: 299px) {
    #foto {
        margin-left: -9%;
    }
}
